Repository SnO2WMaN/cli: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      root: src/
      glob: "*.{js,jsx,ts,tsx}"
      run: eslint --fix {staged_files}
    prettier:
      glob: "*.{js,ts,jsx,tsx,json,yml,yaml,md,html,css,scss,sass}"
      run: prettier --write {staged_files}

pre-push:
  commands:
    packages-audit:
      run: yarn audit

🔧 npm scriptsを整備
  package.json
Due: prettier

🔧(npmrc) バージョン更新時のメッセージを設定
  .npmrc
Due: none

🔧 名前空間のための設定を付記
  package.json
Due: prettier

🔖 1.0.0-0
  package.json
Due: prettier

🔧 パッケージに含めるファイルを選択
  package.json
Due: prettier

🔥 postintallをnpm scriptsから削除
  package.json
Due: prettier

🔖 1.0.0-1
  package.json
Due: prettier

➕ babelとrollup関連の依存関係を追加
  package.json
  yarn.lock
Due: prettier

➖ `import-jsx`を削除
  package.json
  yarn.lock
Due: prettier

👍 名前の文字をui.jsに移動
  src/fonts.js
  src/ui.js
Due: eslint, prettier

👍 import-jsxから脱却
  src/cli.js
Due: eslint, prettier

🔧(Babel) 設定ファイル追加
  .babelrc
Due: none

🔧(Rollup) 設定ファイル追加
  rollup.config.js
Due: prettier

🙈 ignoreファイル更新
  .eslintignore
  .prettierignore
Due: none

🔧 package.json更新
  package.json
Due: prettier

🔖 1.0.0-2
  package.json
Due: prettier

🎨 Twitterのアイコンを🕊から🐦に変更
  src/ui.js
Due: eslint, prettier

🔖 1.0.0-3
  package.json
Due: prettier

🔖 1.0.0
  package.json
Due: prettier

✏ Github -> GitHub
  src/ui.js
Due: eslint, prettier

💬 GitHubの綴り修正(#75)
  src/ui.js
Due: eslint, prettier

🔖 1.0.1
  package.json
Due: prettier

📝(README) バッジを付ける
  README.md
Due: prettier
